<div class="container">
   <div class="hGroup">
    <h2>Summary</h2>
    <hr>
   </div>
   
   <!--summary-->
   <section class="summary">
      <div class="panel-group">
          <div class="row">
            <div class="col-lg-8 col-lg-push-2 col-md-8 col-md-push-2 col-sm-8 col-sm-push-2">
                <div class="col-sm-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">Country</div>
                        <div class="panel-body">{{country}}</div>
                      </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-danger">
                        <div class="panel-heading">Number of Passengers</div>
                        <div class="panel-body">{{passenger}}</div>
                      </div>
                </div>
            </div>
          </div>
        </div>
   </section>

  </div>
  