.header{
    width: 100%;
    height: 300px;
    background-image: url('../img/header.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    margin-top:-20px;

}

.travel {
    color: floralwhite;
    font-size: 100px;
    line-height: 200px;
    margin-left: 20px;
}
a{
    text-decoration: inherit;
    color: inherit;
}

.mianSection{
    background-image: url('../img/sec.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height: 400px;
    width: 100%;
    margin-top:200px;
    text-align: center;
}
.mianSection > h1{
    font-size: 100px;
    color: whitesmoke; 
    margin-top: 100px;
}


@media screen and (max-width: 700px) {
    .mianSection > h1 {
      font-size: 50px;
      line-height: 200px;
    }
  }
  @media screen and (max-width: 500px) {
    .mianSection > h1 {
      font-size: 50px;
      line-height: 200px;
    }
  }
  