.form-section{
  margin-top: 80px;
  height: 195px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.max-width-200{
 width: 200px; 
}

